<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{data.space_before_class}">
    <hr class="{data.space_before_class} invisible">
</f:if>

<a id="c{data.uid}"></a>
<f:if condition="{data._LOCALIZED_UID}">
    <a id="c{data._LOCALIZED_UID}"></a>
</f:if>

<f:render section="Main" />

<f:if condition="{data.space_after_class}">
    <hr class="{data.space_after_class} invisible">
</f:if>

</html>
