<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:b="http://typo3.org/ns/GrossbergerGeorg/BootstrapMinimal/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{asset.original}">
    <figure>
        <f:if condition="{asset.media}">
            <f:then>
                <f:format.raw>{asset.media}</f:format.raw>
            </f:then>
            <f:else>
                <f:if condition="{asset -> f:count()} > 1">
                    <f:if condition="{data.image_zoom}">
                        <f:else>
                            <f:render section="Picture" arguments="{_all}" />
                        </f:else>
                        <f:then>
                            <a href="{f:uri.image(image: asset.original, maxWidth: 1600, maxHeight: 1200) -> b:escape()}" data-toggle="lightbox" data-group="lightbox{data.uid}">
                                <f:render section="Picture" arguments="{_all}" />
                            </a>
                        </f:then>
                    </f:if>
                </f:if>
            </f:else>
        </f:if>

        <f:if condition="{asset.original.caption}">
            <figcaption><b:escape>{asset.original.properties.caption}</b:escape></figcaption>
        </f:if>
    </figure>
</f:if>

<f:section name="Picture">
    <f:for each="{asset}" key="name" as="element">
        <f:switch expression="{name}">
            <f:case value="original"><f:comment> Original is not rendered in HTML </f:comment></f:case>
            <f:case value="default"><img src="{settings.emptyImageSource}" <f:render section="Source" arguments="{urls: element.urls}" /> width="{element.width}" height="{element.height}" alt="{asset.original.properties.alternative -> b:escape()}" class="img-fluid lazy"></f:case>
            <f:defaultCase><source <f:render section="Source" arguments="{urls: element.urls}" /> media="{element.mediaQuery}"></f:defaultCase>
        </f:switch>
    </f:for>
</f:section>

<f:section name="Source"><f:if condition="{urls -> f:count()} > 1">
    <f:then>data-srcset="<b:escape><f:for each="{urls}" as="url" key="scaling" iteration="i">{url -> b:escape()} {scaling}<f:if condition="!{i.isLast}">, </f:if></f:for></b:escape>"</f:then>
    <f:else>data-src="<b:escape><f:for each="{urls}" as="url">{url -> b:escape()}</f:for></b:escape>"</f:else>
</f:if></f:section>

</html>
