<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:for each="{elements}" as="row">
    <div class="row">
        <f:for each="{row}" as="asset">
            <div class="col"><f:render partial="Asset" arguments="{_all}" /></div>
        </f:for>
    </div>
</f:for>

</html>
