<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:b="http://typo3.org/ns/GrossbergerGeorg/BootstrapMinimal/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{data.header_layout} < 99">
    <f:variable name="headerType"><f:if condition="{data.header_layout} > 0 && {data.header_layout} < 7">
        <f:then>{data.header_layout}</f:then>
        <f:else>{settings.defaultHeaderType}</f:else>
    </f:if></f:variable>

    <h{headerType}>
        <f:if condition="{data.header_link}">
            <f:then>
                <f:link.typolink parameter="{data.header_link}"><f:render section="Content" arguments="{_all}" /></f:link.typolink>
            </f:then>
            <f:else>
                <f:render section="Content" arguments="{_all}" />
            </f:else>
        </f:if>
    </h{headerType}>
</f:if>

<f:section name="Content">
    <b:escape>{data.header}</b:escape>
    <f:if condition="{data.subheader}">
        <small><b:escape>{data.subheader}</b:escape></small>
    </f:if>
</f:section>

</html>
