<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:render partial="Header" arguments="{_all}" />

<f:if condition="{data.imageorient} == 0 || {data.imageorient} == 1 || {data.imageorient} == 2">
    <f:render section="Pics" arguments="{_all}" />
    <f:render section="Text" arguments="{_all}" />
</f:if>

<f:if condition="{data.imageorient} == 8 || {data.imageorient} == 9 || {data.imageorient} == 10">
    <f:render section="Text" arguments="{_all}" />
    <f:render section="Pics" arguments="{_all}" />
</f:if>

<f:if condition="{data.imageorient} == 17">
    <div class="row">
        <div class="col"><f:render section="Text" arguments="{_all}" /></div>
        <div class="col"><f:render section="Pics" arguments="{_all}" /></div>
    </div>
</f:if>

<f:if condition="{data.imageorient} == 18">
    <div class="row">
        <div class="col"><f:render section="Pics" arguments="{_all}" /></div>
        <div class="col"><f:render section="Text" arguments="{_all}" /></div>
    </div>
</f:if>

<f:section name="Pics">
    <f:render partial="Gallery" arguments="{elements: gallery.elements, settings: settings, data: data}" />
</f:section>

<f:section name="Text">
    <f:format.html>{data.bodytext}</f:format.html>
</f:section>

</html>
