<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
    <f:render partial="Header" arguments="{_all}" />
    <f:render partial="Gallery" arguments="{elements: gallery.elements, settings: settings, data: data}" />
</f:section>

</html>
