<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:b="http://typo3.org/ns/GrossbergerGeorg/BootstrapMinimal/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
    <f:render partial="Header" arguments="{_all}" />
    <f:if condition="{files -> f:count()} > 0">
        <div class="list-group">
            <f:for each="{files}" as="file">
                <a href="{file.publicUrl ->}" class="list-group-item list-group-item-action">
                    <f:if condition="{file.properties.description}">
                        <f:then><b:escape>{file.properties.description}</b:escape> <small>(<b:escape>{file.name}</b:escape>)</small></f:then>
                        <f:else><b:escape>{file.name}</b:escape></f:else>
                    </f:if>
                </a>
            </f:for>
        </div>
    </f:if>
</f:section>

</html>
