<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Page" />

<f:section name="Content">

<div class="container">
    <div class="row">
        <div class="col"><f:cObject typoscriptObjectPath="lib.contentColumn" data="{colPos: 0}" /></div>
    </div>
</div>

</f:section>

</html>
