<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
    xmlns:b="http://typo3.org/ns/GrossbergerGeorg/BootstrapMinimal/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:variable name="medias">{newsItem.mediaNonPreviews}</f:variable>

<article>
    <h2><b:escape>{newsItem.title}</b:escape></h2>

    <f:if condition="{medias -> f:count()} > 0">
        <f:then>
        <div class="row">
            <div class="col-md-8"><f:render section="NewsContent" arguments="{_all}" /></div>
            <div class="col-md-4">
                <b:gallery
                    items="{medias}"
                    table="tx_news_domain_model_news"
                    field="fal_media"
                    uid="{newsItem.uid}"
                    type="{newsItem.type}"
                    columns="{settings.detail.media.image.columns}"
                    width="{settings.detail.media.image.maxWidth}"
                    height="{settings.detail.media.image.maxHeight}">

                    <f:render partial="Gallery" arguments="{elements: gallery.elements, settings: settings, data: data}" />

                </b:gallery></div>
        </div>
        </f:then>
        <f:else><f:render section="NewsContent" arguments="{_all}" /></f:else>
    </f:if>

</article>

<f:section name="NewsContent">
    <f:if condition="{newsItem.teaser}">
        <p><b:escape>{newsItem.teaser}</b:escape></p>
    </f:if>
    <f:if condition="{newsItem.categories -> f:count()} > 0">
        <p><f:translate key="news.detail.categories" /><f:for each="{newsItem.categories}" as="category" iteration="i">{category.title}<f:if condition="!{i.isLast}">, </f:if></f:for></p>
    </f:if>
    <f:format.html>{newsItem.bodytext}</f:format.html>
    <f:if condition="{newsItem.tags -> f:count()} > 0">
        <p><f:translate key="news.detail.tags" /><f:for each="{newsItem.tags}" as="tag" iteration="i">{tag.title}<f:if condition="!{i.isLast}">, </f:if></f:for></p>
    </f:if>
</f:section>

</html>
