<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
    xmlns:b="http://typo3.org/ns/GrossbergerGeorg/BootstrapMinimal/ViewHelpers"
    data-namespace-typo3-fluid="true">

<div class="list-group list-group-flush">
    <f:for each="{news}" as="newsItem">
        <a href="{n:link(newsItem: newsItem, uriOnly: 1) -> b:escape()}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><b:escape>{newsItem.title}</b:escape></h5>
                <small><f:format.date format="{settings.dataFormat}"></f:format.date></small>
            </div>
            <f:variable name="media">{newsItem.mediaPreviews}</f:variable>
            <f:if condition="{media -> f:count()} > 0">
                <f:then>
                <div class="row mb-1">
                    <div class="col-sm-8"><p><b:escape>{newsItem.teaser}</b:escape></p></div>
                    <div class="col-sm-4">
                        <b:gallery
                            items="{media}"
                            table="tx_news_domain_model_news"
                            field="fal_media"
                            uid="{newsItem.uid}"
                            type="{newsItem.type}"
                            columns="{settings.list.media.image.columns}"
                            width="{settings.list.media.image.maxWidth}"
                            height="{settings.list.media.image.maxHeight}">

                            <f:render partial="Gallery" arguments="{elements: gallery.elements, settings: settings, data: data}" />

                        </b:gallery>

                    </div>
                </div>
                </f:then>
                <f:else>
                    <p class="mb-1"><b:escape>{newsItem.teaser}</b:escape></p>
                </f:else>
            </f:if>
        </a>
    </f:for>
</div>
</html>
