<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:b="http://typo3.org/ns/GrossbergerGeorg/BootstrapMinimal/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="{inlineScript} && {mainScript}">
    <f:then>
        <b:asset.include file="{inlineScript}" attr="{data-script-url: '{mainScript -> b:asset.link() -> b:escape()}'}" />
    </f:then>
    <f:else>
        <f:if condition="{inlineScript} || {mainScript}">
            <f:then>
                <f:if condition="{inlineScript}">
                    <f:then><b:asset.include file="{inlineScript}" /></f:then>
                    <f:else><script type="text/javascript" src="{mainScript -> b:asset.link() -> b:escape()}"></script></f:else>
                </f:if>
            </f:then>
            <f:else>
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            </f:else>
        </f:if>
    </f:else>
</f:if>

</html>
