<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:b="http://typo3.org/ns/GrossbergerGeorg/BootstrapMinimal/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:variable name="inlineCss"><b:asset.include file="{inlineStyles}" /></f:variable>

<f:if condition="{inlineCss} && {mainStyles}">
    <f:then>
        <f:format.raw>{inlineCss}</f:format.raw>
        <f:variable name="mainStylesheetUrl"><b:asset.link file="{mainStyles}" /></f:variable>
        <link rel="preload" as="style" href="{mainStylesheetUrl -> b:escape()}" onload="this.onload=null;this.rel='stylesheet'">
    </f:then>
    <f:else>
        <f:if condition="{inlineCss} || {mainStyles}">
            <f:then>
                <f:if condition="{inlineCss}">
                    <f:then><b:asset.include file="{inlineCss}" /></f:then>
                    <f:else><link rel="stylesheet" href="{mainStyles -> b:asset.link() -> b:escape()}"></f:else>
                </f:if>
            </f:then>
            <f:else>
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            </f:else>
        </f:if>
    </f:else>
</f:if>

</html>
