<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:b="http://typo3.org/ns/GrossbergerGeorg/BootstrapMinimal/ViewHelpers"
    data-namespace-typo3-fluid="true">

<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="#"><f:translate key="site.title"> Logo Here </f:translate></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="{f:translate(key: 'navigation.toggle', default: 'Toggle navigation')}">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <f:for each="{mainmenu}" as="item">
                <f:if condition="{item.children}">
                    <f:then>
                        <li class="nav-item dropdown{f:if(condition: item.active, then: ' active')}">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown{item.data.uid}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{item.title}<f:if condition="{item.current}"> <span class="sr-only"><f:translate key="navigation.current">(current)</f:translate></span></f:if></a>
                            <div class="dropdown-menu" aria-labelledby="dropdown{item.data.uid}">
                                <f:for each="{item.children}" as="sub">
                                    <f:if condition="{item.spacer}">
                                        <f:then>
                                            <div class="dropdown-divider"></div>
                                        </f:then>
                                        <f:else>
                                            <a class="dropdown-item" href="{sub.link -> b:escape()}"><b:escape>{sub.title}</b:escape><f:if condition="{item.current}"> <span class="sr-only"><f:translate key="navigation.current">(current)</f:translate></span></f:if></a>
                                        </f:else>
                                    </f:if>
                                </f:for>
                            </div>
                        </li>
                    </f:then>
                    <f:else>
                        <li class="nav-item{f:if(condition: item.active, then: ' active')}">
                            <a class="nav-link" href="{item.link -> b:escape()}"><b:escape>{item.title}</b:escape><f:if condition="{item.current}"> <span class="sr-only"><f:translate key="navigation.current">(current)</f:translate></span></f:if></a>
                        </li>
                    </f:else>
                </f:if>
            </f:for>
        </ul>
    </div></div>
</nav>

</html>
