<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"><!DOCTYPE html>
<html lang="{language.hreflang}">
<head>
    <f:render partial="Head" arguments="{_all}" />
</head>
<body class="{bodyClasses}">
<f:render partial="Menu/Navbar" arguments="{_all}" />
<main>
<f:render section="Content" arguments="{_all}" />
</main>

<f:render partial="Footer" arguments="{_all}" />
</body>
</html></html>
