<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:b="http://typo3.org/ns/GrossbergerGeorg/BootstrapMinimal/ViewHelpers"
    data-namespace-typo3-fluid="true">

<meta charset="utf-8">
<!--
    This website is powered by TYPO3 - inspiring people to share!
    TYPO3 is a free open source Content Management Framework initially created by Kasper Skaarhoj and licensed under GNU/GPL.
    TYPO3 is copyright 1998-<f:format.date format="Y" /> of Kasper Skaarhoj. Extensions are copyright of their respective owners.
    Information and contribution at https://typo3.org/
-->

<title><!-- TYPO3_TITLE_TAG --></title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="generator" content="TYPO3 CMS">

<f:render partial="Meta/Stylesheets" arguments="{_all}" />

<f:render partial="Meta/Scripts" arguments="{_all}" />

<!-- TYPO3_ADDITIONAL_HEADER_DATA -->

</html>
